<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>
      {% if page.title %}
        {{ page.title }} &ndash;
      {% endif %}
      {{ site.name }}
    </title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,200|Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/menu/style-menu.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/assets/css/style_responsive.css">
</head>

<body>
  <header>
    <a href="/">
      <svg class='logo_svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' width='70' height='120' viewBox='0 0 70 120' xml:space='preserve'>
        <g>
          <rect x='60' y='20' width='10' height='55'/>
          <rect x='40' y='20' width='10' height='100'/>
          <rect x='20' y='20' width='10' height='100'/>
          <rect x='0' y='0' width='10' height='75'/>
        </g>
      </svg>
      <h1>Gitter Blog</h1>
    </a>
  </header>
<div id="body">

  <div class="container">
    <div class="row-fluid blog-page blog-item">

            <!-- Left Sidebar -->
          <div class="span9">
              {{ content }}
            <hr />
            </div><!--/span9-->

            <!-- Right Sidebar -->
          <div class="span3" style="margin-top: 20px">

              <!-- Blog Latest Tweets -->

      <a class="twitter-timeline" href="https://twitter.com/gitchat" data-widget-id="435741497984446464">Tweets by @gitchat</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>



            </div><!--/span3-->
        </div><!--/row-fluid-->
  </div><!--/container-->

</div><!--/body-->

<!--=== Footer ===-->
<div class="footer">
  <div class="container">

    <div class="row-fluid">
      <div class="span4">
                <!-- About -->
            <div class="headline"><h3>About</h3></div>
        <p class="margin-bottom-25"><a href="https://gitter.im">Gitter</a> is a small team in London trying to do big things with instant messaging and team collaboration.</p>
        <p>We're currently in Beta, but please feel free to <a href="https://gitter.im">try us out</a> and give us your <a href="http://support.gitter.im">feedback</a>.</p>

              <!-- Monthly Newsletter -->

      </div><!--/span4-->

      <div class="span4">
            <div class="headline"><h3>Contact Us</h3></div>
              <p><a href="https://gitter.im/gitterHQ/gitter"><img src="https://badges.gitter.im/Contact%20Us.svg"></a></p>
                <span class="trpAddress">

          14, Dufferin Street <br />
          London, UK <br /><br />
          Email: <a href="mailto:team@gitter.im" class="">team@gitter.im</a>
                </span>
      </div><!--/span4-->

      <div class="span4">
              <!-- Monthly Newsletter -->
           &nbsp;
      </div><!--/span4-->
    </div><!--/row-fluid-->

  </div><!--/container-->
</div><!--/footer-->

<!--=== copyright ===-->
<div class="copyright">
  <div class="container">

    <div class="row-fluid">
      <div class="span8">
              <p>2014 &copy; Troupe Technology Limited. All Rights Reserved. <a href="https://gitter.zendesk.com/hc/en-us/articles/200876472-Privacy-policy">Privacy Policy</a> | <a href="https://gitter.zendesk.com/hc/en-us/articles/200944641-Terms-of-Service">Terms of Service</a></p>
      </div>
      <div class="span4">

      </div>
    </div><!--/row-fluid-->

  </div><!--/container-->
</div><!--/copyright-->

<!-- JS and jQuery -->
<script type="text/javascript" src="/assets/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/assets/js/modernizr.custom.17475.js"></script>
<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/app.js"></script>
<!--[if lt IE 9]>
  <script src="/assets/js/respond.js"></script>
<![endif]-->
<script type="text/javascript">
jQuery(document).ready(function() {
    App.init();
});
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-34596351-3', 'troupe.co');
  ga('send', 'pageview');

</script>
<script type="text/javascript">
  var GoSquared = {};
  GoSquared.acct = "GSN-719739-L";
  (function(w){
    function gs(){
      w._gstc_lt = +new Date;
      var d = document, g = d.createElement("script");
      g.type = "text/javascript";
      g.src = "//d1l6p2sc9645hc.cloudfront.net/tracker.js";
      var s = d.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(g, s);
    }
    w.addEventListener ?
      w.addEventListener("load", gs, false) :
      w.attachEvent("onload", gs);
  })(window);
</script>
</body>
</html>

