<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>
      {% if page.title %}
        {{ page.title }} &ndash;
      {% endif %}
      {{ site.name }}
    </title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,200|Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/menu/style-menu.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/assets/css/style_responsive.css">
<!--     <link rel="stylesheet" href="/assets/css/animate.css">
    <link rel="stylesheet" href="/assets/css/effects.css"> -->
<!--     <link rel="stylesheet" href="/assets/flags/css/bootstrap-formhelpers-countries.flags.css">
    <link rel="stylesheet" href="/assets/fancybox/source/jquery.fancybox.css">
    <link rel="stylesheet" href="/assets/elasticslides/css/style.css"  type="text/css" />
    <link rel="stylesheet" href="/assets/elastislide/css/elastislide.css" type="text/css" />
    <link rel="stylesheet" href="/assets/elastislide/css/custom.css" type="text/css" />
    <link rel="stylesheet" href="/assets/flexslider/flexslider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/assets/parallax-slider/css/parallax-slider.css" type="text/css" />
    <link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.css"> -->
</head>

<body>
<!--=== Top ===-->
<div id="top">
</div><!--/top-->

<!--=== Header ===-->
<div id="header">
    <div class="container">
        <!-- Logo -->
        <div id="logo">
            <a href="/"><img src="/assets/img/logo mark green 64x64.png" alt="Logo" width="64" height="64"></a>
        </div><!-- /logo -->

      <!-- Menu -->
        <div class="navbar">
            <div class="navbar-inner">
            </div><!-- /navbar-inner -->
        </div><!-- /navbar -->

    </div><!-- /container -->
</div><!-- /header -->

<!--=== Content part ===-->
<div id="body">
  <div class="breadcrumbs margin-bottom-20">
      <div class="container">
            <h1 style="margin-bottom: 2px">{{ page.title }}</h1>
            <div class="date">{{ page.date | date: "%B %e, %Y" }}</div>
     </div><!--/container-->
    </div><!--/breadcrumbs-->

  <div class="container">
    <div class="row-fluid blog-page blog-item">

            <!-- Left Sidebar -->
          <div class="span9">
              {{ content }}
            <hr />
            </div><!--/span9-->

            <!-- Right Sidebar -->
          <div class="span3">

              <!-- Blog Latest Tweets -->

              <a class="twitter-timeline" href="https://twitter.com/WeAreTroupe" data-widget-id="337144062157144065">Tweets by @WeAreTroupe</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

            </div><!--/span3-->
        </div><!--/row-fluid-->
  </div><!--/container-->

</div><!--/body-->

<!--=== Footer ===-->
<div class="footer">
  <div class="container">

    <div class="row-fluid">
      <div class="span4">
                <!-- About -->
            <div class="headline"><h3>About</h3></div>
        <p class="margin-bottom-25">Troupe are a small company in London trying to do big things with instant messaging and team collaboration.</p>
        <p>We're currently in a sort of Beta/Preview stage, but please feel free to <a href="https://trou.pe">try us out</a> and give us your feedback.</p>

              <!-- Monthly Newsletter -->

      </div><!--/span4-->

      <div class="span4">
            <div class="headline"><h3>Contact Us</h3></div>
                <address>
          1 Bath Street <br />
          London, UK <br />
          Email: <a href="social@troupe.co" class="">social@troupe.co</a>
                </address>
      </div><!--/span4-->

      <div class="span4">
              <!-- Monthly Newsletter -->
           &nbsp;
      </div><!--/span4-->
    </div><!--/row-fluid-->

  </div><!--/container-->
</div><!--/footer-->

<!--=== copyright ===-->
<div class="copyright">
  <div class="container">

    <div class="row-fluid">
      <div class="span8">
              <p>2013 &copy; Troupe Technology Limited. ALL Rights Reserved. <a href="http://trou.pe/legals">Privacy Policy</a> | <a href="http://trou.pe/legals">Terms of Service</a></p><br><br>
      </div>
      <div class="span4">

      </div>
    </div><!--/row-fluid-->

  </div><!--/container-->
</div><!--/copyright-->

<!-- JS and jQuery -->
<script type="text/javascript" src="/assets/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/assets/js/modernizr.custom.17475.js"></script>
<script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/fancybox/source/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="/assets/elasticslides/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/assets/elasticslides/js/jquery.eislideshow.js"></script>
<script type="text/javascript" src="/assets/elastislide/js/jquery.elastislide.js"></script>
<script type="text/javascript" src="/assets/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="/assets/parallax-slider/js/modernizr.custom.28468.js"></script>
<script type="text/javascript" src="/assets/parallax-slider/js/jquery.cslider.js"></script>
<script type="text/javascript" src="/assets/js/back-to-top.js"></script>
<script type="text/javascript" src="/assets/js/app.js"></script>
<!--[if lt IE 9]>
  <script src="/assets/js/respond.js"></script>
<![endif]-->
<script type="text/javascript">
jQuery(document).ready(function() {
    App.init();
});
</script>
</body>
</html>

